
# Kite Connect API
kiteconnect>=4.3.0

# Data manipulation and CSV handling
pandas>=1.5.0

# For Service
schedule>=1.2.0
onetimepass==1.0.1

# Optional: For better logging
python-dateutil>=2.8.0

# Flask App
Flask==3.1.1